[core]
	editor = nvim
[user]
	name = Garrett Cox
	email = gcox5714@gmail.com
[alias]
	st = status --short
	logo = log --oneline
	graph = log --all --abbrev-commit --graph --decorate --pretty
	yolo = !git commit -m \"$(curl -s http://whatthecommit.com/index.txt)\"
